@font-face {
  font-family: 'Philifont';
  src: url('./customfont/ppneuemontreal-regular-webfont.woff2') format('woff2'),
  url('./customfont/ppneuemontreal-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
