.about-container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  padding: $global-padding;
  background-color: $white;

  .greetings {
    display: flex;
    padding-top: 8vh;
    padding-bottom: 10px;
    overflow: hidden;

    @media screen and (max-width: $layout-breakpoint-xsmall) {
      padding-top: 4vh;
    }

    span {
      font-size: 2.8em;
      font-style: italic;
      transform: translateY(120%);
      transition: 1.5s transform cubic-bezier(0.77, 0, 0.175, 1);

      &.reveal-text {
        transform: translateY(0);
      }

      @media screen and (max-width: $layout-breakpoint-small) {
        font-size: 2.3em;
      }

      @media screen and (max-width: $layout-breakpoint-xsmall) {
        font-size: 2em;
      }
    }
  }

  .biography {
    display: flex;
    padding-top: $global-text-padding-top;
    overflow: hidden;
    padding-bottom: 10px;

    @media screen and (max-width: $layout-breakpoint-small) {
      padding-top: 3vh;
    }

    span {
      font-size: 2em;
      text-align: justify;

      transform: translateY(120%);
      transition: 1.5s transform cubic-bezier(0.77, 0, 0.175, 1);

      &.reveal-text {
        transform: translateY(0);
      }

      @media screen and (max-width: $layout-breakpoint-small) {
        font-size: 1.5em;
      }

      @media screen and (max-width: $layout-breakpoint-xsmall) {
        font-size: 1.2em;
      }

    }
  }

  .technologies-used-title {
    display: flex;
    color: $dark-grey;
    font-size: 2em;
    margin-bottom: 8vh;
    overflow: hidden;
    padding-bottom: 10px;

    @media screen and (max-width: $layout-breakpoint-small) {
      font-size: 1.5em;
      margin-bottom: 2vh;
    }

    span {
      transform: translateY(120%);
      transition: 1.5s transform cubic-bezier(0.77, 0, 0.175, 1);

      &.reveal-text {
        transform: translateY(0);
      }
    }
  }

  .technologies-used-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10vh;

    @media screen and (max-width: $layout-breakpoint-small) {
      margin-bottom: 5vh;
    }

    .pill {
      margin: 0 2vw 5vh 0;

      span {
        border-color: $black;
        opacity: 0;
        transition: 0.7s opacity ease-in-out;

        &.reveal-pill {
          opacity: 1;
        }
      }
    }
  }
}
