.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  height: 100vh;
  padding: $global-padding;
  background-color: $black;

  .section-title {
    color: $white;
  }

  .contact-informations-container {
    .contact-message-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .ellipse-logo {
        height: 10vh;

        opacity: 0;
        transition: opacity 1s ease-in-out;

        &.reveal-logo {
          opacity: 1;
        }

        @media screen and (max-width: $layout-breakpoint-small) {
          height: 7vh;
        }
      }

      .contact-message {
        display: flex;
        margin-left: 3vw;
        overflow: hidden;
        padding-bottom: 10px;

        span {
          font-size: $big-text;
          color: $white;

          transform: translateY(120%);
          transition: 1s transform cubic-bezier(0.77, 0, 0.175, 1);
          transition-delay: 0.7s;

          &.reveal-text {
            transform: translateY(0);
          }


          @media screen and (max-width: $layout-breakpoint-small) {
            font-size: 2em;
          }
        }
      }
    }

    .line-separator {
      margin: 4vh 0;
    }

    .contact-details-container {
      .pill {
        font-size: $medium-text;
        border-color: $dark-grey;
        color: white;
        opacity: 0;
        transition: 1s opacity ease-in-out;

        &.reveal-pill {
          opacity: 1;
        }

        &:nth-child(1) {
          margin-right: 3vw;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: $small-text;
          margin-top: 3vh;
        }
      }
    }
  }

  .footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    height: 10vh;
    padding-bottom: 5vh;

    .portfolio-technologies {
      color: $white;
      font-size: $small-text;

      @media screen and (max-width: $layout-breakpoint-small) {
        display: none;
      }
    }

    .socials-container {
      display: flex;
      flex-direction: column;

      .socials-title {
        color: $dark-grey;
        font-size: 0.8em;
        text-transform: uppercase;
        transition: 1s opacity ease-in-out;
        transition-delay: 0.5s;
      }

      .socials-list {
        padding-top: 3vh;

        a {
          font-size: 1em;
          text-decoration: none;
          color: $white;

          &:nth-child(1), &:nth-child(2) {
            margin-right: 3vw;
          }
        }
      }

      @media screen and (max-width: $layout-breakpoint-xsmall) {
        padding-bottom: 10vh;
      }
    }
  }
}
