.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  height: 100vh;
  background-color: $silver;
  overflow: hidden;

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $global-padding;
    height: 68vh;

    .hero-details {
      display: flex;
      justify-content: space-between;

      width: 100%;

      span {
        font-size: $small-text;
      }
    }

    .hero-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .first-name, .hero-lower-group .last-name {
        font-family: "Neue Montreal", sans-serif;
        font-size: 10em;
      }

      .hero-lower-group {
        display: flex;
        align-items: center;

        .ellipses {
          height: 10vh;
        }

        .last-name {
          color: $white;
          font-style: italic;
          margin-left: 30px;
        }
      }

      .hero-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        padding-top: 2vh;

        .job-title {
          font-size: $medium-text;
        }

        .geo-info {
          padding-top: 0.5vh;
        }
      }
    }
  }

  .marquee-container {
    white-space: nowrap;

    .marquee-text {
      font-size: 7vw;
      font-style: italic;
      position: absolute;
      bottom: 1.8vh;
      color: $dark-grey;

      span {
        color: $white;
      }
    }
  }
}
