.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  height: 100vh;
  background-color: $silver;
  overflow: hidden;

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $global-padding;
    height: 65%;


    .hero-details {
      display: flex;
      justify-content: space-between;

      width: 100%;

      span {
        font-size: $small-text;
      }
    }

    .hero-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .first-name {
        display: flex;
      }

      .first-name, .hero-lower-group .last-name {
        font-family: "Neue Montreal", sans-serif;
        font-size: 12em;

        @media screen and (max-width: $layout-breakpoint-large) {
          font-size: 12em;
        }

        @media screen and (max-width: $layout-breakpoint-medium) {
          font-size: 11em;
        }

        @media screen and (max-width: $layout-breakpoint-small) {
          font-size: 8em;
        }

        @media screen and (max-width: $layout-breakpoint-tablet) {
          font-size: 6.5em;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 5em;
        }
      }

      .hero-lower-group {
        display: flex;
        align-items: center;

        .ellipses {
          height: 10vh;

          @media screen and (max-width: $layout-breakpoint-small) {
            height: 7vh;
          }

          @media screen and (max-width: $layout-breakpoint-xsmall) {
            display: none;
          }
        }

        .last-name {
          color: $white;
          font-style: italic;
          margin-left: 30px;
          display: flex;
        }
      }

      .hero-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        padding-top: 2vh;

        .job-title {
          font-size: $medium-text;

          @media screen and (max-width: $layout-breakpoint-xsmall) {
            font-size: $small-text;
          }
        }

        .geo-info {
          padding-top: 0.5vh;
          font-size: $small-text;

          @media screen and (max-width: $layout-breakpoint-xsmall) {
            font-size: 1em;
          }
        }
      }
    }
  }

  .marquee {
    .marquee-container {
      .marquee-text {
        font-style: italic;
        font-size: 7vw;
        bottom: 1.8vh;

        @media screen and (max-width: $layout-breakpoint-small) {
          font-size: 10vw;
          bottom: 4vh;
        }

        @media screen and (max-width: $layout-breakpoint-tablet) {
          font-size: 12vw;
          bottom: 4vh;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 15vw;
          bottom: 5vh;
        }

        span {
          color: $white;
        }
      }
    }
  }
}
